
/*about start*/
.about {
    padding: 115px 0;
    background-color: #171616;
}
.about__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.about__block {
    max-width: 505px;
}
.about__text {
    margin: 35px 0 40px;
    font-weight: 600;
    color: #B7B7B7;
    letter-spacing: 0.23em;
}
.about__link {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.about__link:hover {
    text-decoration: none;
}
.about__img {
    height: 340px;
}
/*about end*/