
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
*,*:before,*:after {
    box-sizing: border-box;
}
@media (max-width: 1260px ) {

    .info__item {
        padding: 30px;
    }
    .info__title {
        font-size: 16px;
    }

    .info__text {
        font-size: 14px;
    }
}

@media (max-width: 1080px) {
    .info__title {
        letter-spacing: unset;
    }
    .about__block {
        padding-right: 30px;
    }
    .services__content {
        height: 400px;
    }
}

@media (max-width: 992px) {
    .section {
        margin-bottom: 30px;
    }
    .header__logo img {
        height: 55px;
    }

    .intro__content {
        height: 530px;
        justify-content: center;
    }
    .intro__block {
        text-align: center;
    }

    .intro__title {
        font-size: 34px;

    }
    .info__item {
        padding: 20px;
    }

    .services__content {
        height: 300px;
    }

    .services__content-item {
        display: none;
    }
    .services__content:after {
        display: none;
    }
    .about {
        padding: 30px 0;
    }
    .about__wrapper {
        flex-direction: column;
    }

    .about__block {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .about__img {
        height: auto;
        max-width: 100%;
    }
    .process__title {
        margin-bottom: 10px;
        font-size: 100px;
    }
    .process__subtitle {
        margin-bottom: 30px;
    }
    .section.process {
        padding-top: 0;
    }
    .process__item {
        text-align: center;
        min-height: auto;
        padding: 20px 0 12px;
    }
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
}


@media (max-width: 850px) {
    .info {
        transform: translateY(-75px);
    }
    .wrapper {
        flex-wrap: wrap;
    }

    .block {
        width: 100%;
        margin-bottom: 20px;
    }

    .info__item {
        text-align: center;
    }

    .services__content {
        height: 450px;
        background-position: center;
    }
    .block__title {
        text-align: center;
    }




    .contacts__form {
        margin: 0 auto;
    }
}


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}


p {
    margin: 0 0 5px;
}
.container {
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

}

.btn {
    min-width: 200px;
    padding: 0 15px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    background-color: red;
    transition: background-color .2s ease;
    cursor: pointer;
    outline: 0;
    border: 0;
}
.btn:hover {
    background-color: #801111;
}













/*footer start*/
